input[type='text'] {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  transition:
    border-color 0.25s,
    background-color 0.25s,
    box-shadow 0.25s;
  box-sizing: border-box;
  width: 100%; /* Adjust width as needed */
}

input[type='text']::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input[type='text']:hover,
textarea:hover {
  border-color: #646cff;
}

input[type='text']:focus {
  outline: none;
  border-color: #646cff;
  box-shadow: 0 0 0 4px rgba(100, 108, 255, 0.5);
}

input[type='text']:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px rgba(100, 108, 255, 0.7);
}

@media (prefers-color-scheme: light) {
  input[type='text'] {
    background-color: #f9f9f9;
    color: #213547;
  }

  input[type='text']::placeholder {
    color: rgba(33, 53, 71, 0.5);
  }

  input[type='text']:focus {
    box-shadow: 0 0 0 4px rgba(100, 108, 255, 0.5);
  }
}
