button.primary {
  border: 1px solid transparent;
  background-color: #646cff;
  color: #ffffff;
}

button.primary:hover {
  background-color: #535bf2;
}

button.primary:focus,
button.primary:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px rgba(100, 108, 255, 0.5);
}

@media (prefers-color-scheme: light) {
  button.primary {
    background-color: #747bff;
    color: #ffffff;
  }

  button.primary:hover {
    background-color: #646cff;
  }

  button.primary:focus,
  button.primary:focus-visible {
    box-shadow: 0 0 0 4px rgba(116, 123, 255, 0.5);
  }
}
